<!-- <ul>
        <li>
            <a [routerLink]="['/reservation']">
              <i>Make a reservation</i>
            </a>
          </li>
      <li>
        <a [routerLink]="['/profile']">
          <i>Profile</i>
        </a>
      </li>
      <li>
          <a [routerLink]="['/logout']">
            <i>Log out</i>
          </a>
        </li>
    </ul> -->

  <!-- <router-outlet></router-outlet> -->
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value,f)">
        <div>
          <label for="FullName">Full name:</label>
          <input type="text" name="FullName" [value]="user.FullName" ngModel>
        </div>
        <div>
          <label for="Email">Email:</label>
          <input type="text" name="Email" [value]="user.Email" ngModel>
        </div>
        <div>
            <label for="Birthday">Date of birth</label>
            <input type="date" name="Birthday" [value]="user.Birthday | date : 'yyyy-MM-dd'" ngModel>
        </div>
        <input type="submit" value="Change profile">
      </form>
      <button (click)="changePassword()">Change password</button>


  <!-- <div>
    <div>Full name: {{user.FullName}} </div>
    <div>Email: {{user.Email}}</div>
    <div>
        <label for="Birthday">Date of birth</label>
        <input type="date" name="Birthday" [value]="user.Birthday | date : 'yyyy-MM-dd' ">
    </div>
  </div>  -->

  <!-- <button (click)="toggle()">Upload photo</button>
    <div *ngIf="clicked">
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value,f)">
            <div>
              <label for="Photo">Photo</label>
              <input type="text" name="Photo" ngModel>
            </div>
            <input type="submit">
          </form>
     </div>  -->

     <!-- <div>
        <li *ngFor="let rent of rentsList">
          <span class="badge">{{rent.ReservationID}}</span>
        </li>
      </div> -->
      