    <div *ngIf="!confirmedUser()">
      <h3>Your profile is not confirmed by admin.</h3>
      <h3>Please, complete your profile by adding photo of personal document.</h3>
    </div>
    
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value,f)">
        <div>
          <label for="FullName">Full name:</label>
          <input type="text" name="FullName" [value]="user.FullName" ngModel>
        </div>
        <div>
          <label for="Email">Email:</label>
          <input type="text" name="Email" [value]="user.Email" ngModel>
        </div>
        <div>
            <label for="Birthday">Date of birth</label>
            <input type="date" name="Birthday" [value]="user.Birthday | date : 'yyyy-MM-dd'" ngModel>
        </div>
        <input type="submit" value="Change profile">
      </form>
      <button (click)="changePassword()">Change password</button>
      <form #form="ngForm"> 
        <label for="PersonalDocument">Personal document</label>
        <input type="file" multiple name="PersonalDocument" ng2FileSelect [uploader]="uploader" enctype="multipart/form-data"/>
        <button type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Upload document</button> 
      </form>

      <div>
        <li *ngFor="let rent of rentsList">
          <p>Your reservations</p>
              <p>Vehicle:  {{rent.Vehicle.Model}}</p>
              <p>Begin branch: {{rent.BeginBranch}} </p>
              <p>End branch:  {{rent.EndBranch}}</p>
              <p>Start date:  {{rent.Start}}</p>
              <p>End date: {{rent.End}}</p>
          <div *ngIf="rent.Used">
            <h3>Your reservation has ended!</h3>
            <h3>We would appreciate if you rate our service and leave a comment.</h3>
            <form #form="ngForm" (ngSubmit)="sendComment()">
              <div class="rating form-group">
                <input id="star5" type="radio" value="5" class="radio-btn-hide" />
                <label for="star5">☆</label>
                <input id="star4" type="radio" value="4" class="radio-btn-hide" />
                <label for="star4">☆</label>
                <input id="star3" type="radio" value="3" class="radio-btn-hide" />
                <label for="star3">☆</label>
                <input id="star2" type="radio" value="2" class="radio-btn-hide" />
                <label for="star2">☆</label>
                <input id="star1" type="radio" value="1" class="radio-btn-hide" />
                <label for="star1">☆</label>
              </div>
              <div>
                <label for="Description">Your comment</label>
                <input type="text" name="Description" [value]="Description">
              </div>
              <button>Send</button>
            </form>
          </div>
        </li>
      </div>

      