<ul>
  <li><a><i></i></a></li>
  <li><a><i></i></a></li>
        <li>
            <a><i>Create</i></a>
          </li>
      <li>
        <a [routerLink]="['']">
          <i>Remove</i>
        </a>
      </li>
      <li>
          <a [routerLink]="['/logout']">
            <i>Log out</i>
          </a>
        </li>
    </ul>
    <router-outlet></router-outlet>

  <div class="cards" *ngFor="let service of serviceList" [class.selected]="service === selectedService"
      (click)="onSelect(service)">
          <div class="card" >
              <img class="card-img-top" src="{{service.Logo}}" alt="Card image cap">
              <div class="card-block p-3">
                  <h4 class="card-content" name="Name">{{service.Name}}</h4>
                  <p class="card-content" name="Description">{{service.Description}}</p>
              </div>
          </div>
      </div>

    <div>
      <app-service-details [service]="selectedService"></app-service-details>
    </div>

    <div>
      <div *ngIf="selectedService">
        <a>{{service.Name}}</a>
        <form #f1="ngForm" (ngSubmit)="addVehicles(f1.value,f1)">
          <div>
            <label for="Model">Model</label>
            <input type="text" name="Model" ngModel>
          </div>
          <div>
            <label for="Photo">Photo</label>
            <input type="file" name="Photo" (change)="onSelectFile($event)" ngModel>
            <img [src]="url1" height="200">
          </div>
          <div>
            <label for="Manufactor">Manufactor</label>
            <input type="text" name="Manufactor" ngModel>
          </div>
          <div>
            <label for="Year">Year</label>
            <input type="text" name="Year" ngModel>
          </div>
          <div>
            <label for="Description">Description</label>
            <input type="text" name="Description" ngModel>
          </div>
          <div>
            <label for="Available">Available</label>
            <input type="text" name="Available" ngModel>
          </div>
          <div>
            <label for="ServiceID">{{service.Id}}</label>
            <input for="ServiceID" type="hidden" name="ServiceID" value="{{service.Id}}" ngModel>
          </div>
          <input type="submit">
        </form>
        </div>
        </div>

      <!-- </li> -->

<!-- <form #f="ngForm" (ngSubmit)="addService(f.value,f)">
  <div>
    <label for="Name">Name</label>
    <input type="text" name="Name" ngModel>
  </div>
  <div>
    <label for="Logo">Logo</label>
    <input type="file" name="Logo" (change)="onSelectFile($event)" ngModel>
    <img [src]="url" height="200">
  </div>
  <div>
    <label for="Email">Email</label>
    <input type="text" name="Email" ngModel>
  </div>
  <div>
    <label for="Description">Description</label>
    <input type="text" name="Description" ngModel>
  </div>
  <input type="submit">
</form>
<br/><br/><h1>Add vehicles</h1><br/> -->
<!-- <form #f1="ngForm" (ngSubmit)="addVehicles(f1.value,f1)">
  <div>
    <label for="Model">Model</label>
    <input type="text" name="Model" ngModel>
  </div>
  <div>
    <label for="Photo">Photo</label>
    <input type="file" name="Photo" (change)="onSelectFile($event)" ngModel>
    <img [src]="url1" height="200">
  </div>
  <div>
    <label for="Manufactor">Manufactor</label>
    <input type="text" name="Manufactor" ngModel>
  </div>
  <div>
    <label for="Year">Year</label>
    <input type="text" name="Year" ngModel>
  </div>
  <div>
    <label for="Description">Description</label>
    <input type="text" name="Description" ngModel>
  </div>
  <div>
    <label for="Available">Available</label>
    <input type="text" name="Available" ngModel>
  </div>
  <div>
    <label for="Service">Service</label>
    <select name="Service">
      <option *ngFor="let service of serviceList">{{service.Name}}</option>
    </select>
    <!-- <input type="text" name="ServiceID" ngModel> -->
