<h3>Services</h3>
<!--button (click)="callGet()">Get service</button-->

<!-- <div class="cards">
  <li *ngFor="let service of serviceList"
    [class.selected]="service === selectedService"
    (click)="onSelect(service)">
    <span class="badge">{{service.Name}}</span>
  </li>
</div> -->

<div class="cards" *ngFor="let service of serviceList" [class.selected]="service === selectedService"
  (click)="onSelect(service)">
      <div class="card" >
          <img class="card-img-top" src="{{service.Logo}}" alt="Card image cap">
          <div class="card-block p-3">
              <h4 class="card-content" name="Name">{{service.Name}}</h4>
              <p class="card-content" name="Description">{{service.Description}}</p>
          </div>
      </div>
</div>


<div>
  <app-service-details [service]="selectedService"></app-service-details>
</div>

<!-- <div>
    <app-vehicle [selectedService]="selectedService"></app-vehicle>
</div> -->

<div>
    <div *ngIf="selectedService">
      <li *ngFor="let vehicle of vehicles">
        <div>{{vehicle.Model}}</div>
        <div>{{vehicle.Manufactor}}</div>
        <div>{{vehicle.Year}}</div>
      </li>
    </div>
  </div>