<h2>Add service</h2>

<form #f="ngForm" (ngSubmit)="onSubmit(f.value,f)">
  <div>
    <label for="Name">Name</label>
    <input type="text" name="Name" ngModel>
  </div>
  <div>
    <label for="Logo">Logo</label>
    <input type="text" name="Logo" ngModel>
  </div>
  <div>
    <label for="Email">Email</label>
    <input type="text" name="Email" ngModel>
  </div>
  <div>
    <label for="Description">Description</label>
    <input type="text" name="Description" ngModel>
  </div>
  <input type="submit">
</form>

<h3>Services</h3>
<button (click)="callGet()">Get service</button>

<ul>
  <li *ngFor="let service of serviceList">
    {{service.Name}}
  </li>
</ul>
