<p>
    Unconfirmed users:
  </p>
  <table border="0">
    <div *ngFor="let user of users">
      <tr>
        <td>User's email: </td>
      <td>{{user.Email}}</td>
      <td><img height="200" width="200" src="http://localhost:51680/{{user.PersonalDocument}}" alt="User image" ></td>
      <td>
        <button (click)="confirm(user)">Confirm user</button>
      </td>
      </tr>
    </div>
  </table>

  <p>
      Unactivated services:
    </p>
    <table border="0">
      <div *ngFor="let service of services">
        <tr>
          <td>Service's name: </td>
        <td>{{service.Name}}</td>
        <td>
          <button (click)="approve(service)">Approve service</button>
        </td>
        </tr>
      </div>
    </table>

  <p>
      Managers:
    </p>
    <table border="0">
      <div *ngFor="let manager of managers">
        <tr>
          <td>Manager's email: </td>
        <td>{{manager.Email}}</td>
        <td>
          <button (click)="ban(user)">Ban manager</button>
        </td>
        </tr>
      </div>
    </table>
