<form #f="ngForm" (ngSubmit)="onSubmit(f.value,f)">
    <div>
      <label for="CurrentPassword">Current password:</label>
      <input type="password" name="CurrentPassword" ngModel>
    </div>
    <div>
      <label for="NewPassword">New password:</label>
      <input type="password" name="NewPassword"  ngModel>
    </div>
    <div>
        <label for="Confirmation">Confirm new password:</label>
        <input type="password" name="Confirmation" ngModel>
    </div>
    <input type="submit" value="Change password">
  </form>
  <div style="color:red">{{error}}</div>
  <div style="color:red">{{err}}</div>
